blockSize=1000
maxCount=2000

apiKey=
#s4hana=https://sandbox.api.sap.com/s4hanacloud

s4hana=""
username=""
password=""

tokenendpoint=""
clientid=""
clientsecret=""
username=""
password=""
baseURL=""